body {
  font-family: "Poppins", sans-serif;
  background-color: #121213;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #BBCB2E;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
  margin: 30px 0;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benar {
  background-color: #538d4e;
}

.salah-posisi {
  background-color: #b59f3b;
}

.tidak-ada {
  background-color: #3a3a3c;
}

input {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  width: 160px;
  border-radius: 25px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #BBCB2E;
  font-family: "Poppins", Sans-Serif;
  font-weight: bold;
  border-radius: 25px;
}

.pesan {
  margin-top: 20px;
  font-size: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #121213;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #3a3a3c;
  text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #1e1e1f;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
